<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="console"/>
		</Root>
		<logger name="gov.nist.scap.validation.requirements.decima.RequirementsTestParser" level="WARN" additivity="false">
			<AppenderRef ref="console"/>
		</logger>
		<logger name="gov.nist" level="INFO" additivity="false">
			<AppenderRef ref="console"/>
		</logger>
	</Loggers>
</Configuration>